{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Bienvenido Pagina del ADMINISTRADOR</h1>
    
    <div>
        <a href="{% url 'admin:lista_usuarios' %}" class="btn-link">Gestionar Usuarios</a>
    </div>
    <div>
        <a href="{% url 'admin:gestionar_reservas' %}" class="btn-link">Gestionar Reservas</a>
    </div>
    <div>
        <a href="{% url 'admin:gestionar_penalizaciones' %}" class="btn-link">Gestionar Penalizaciones</a>
    </div>
    
</body>
</html>

