{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/components/accordion/">
    <title>Lista de personas</title>
</head>
<body>
  <table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th> 
             <th>Correo</th>                
        </tr>
    </thead>
    <tbody>
        {% for persona in personas %}
        <tr>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido_paterno }}</td>
            <td>{{ persona.apellido_materno }}</td>    
            <td>{{ persona.correo }}</td> 
            <td>{{ persona.escuela }}</td>
            <td>{{ persona.codigo }}</td>
            <td>{{ persona.contrasena }}</td>
            <td>{{ persona.rol }}</td>            
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>