{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Bienvenidos a Canchas UNA PUNO</h1>
    <div>
      <p>
        CanchasUNA Puno es un sistema desarrollado para facilitar la reserva de canchas deportivas
         dentro de la Universidad Nacional del Altiplano. Nuestro objetivo es promover 
         la organización, el acceso equitativo y el uso adecuado de los espacios deportivos 
         para todos los estudiantes, docentes y personal administrativo.
    </p>

    <p>Con esta plataforma, podrás:</p>

        <ul>
            <li>Consultar la disponibilidad de canchas en tiempo real.</li>
            <li>Realizar reservas de manera rápida y sencilla.</li>
            <li>Visualizar tus reservas activas y pasadas.</li>
            <li>Contribuir al buen uso de los espacios deportivos universitarios.</li>
        </ul>
    </div>

      <div>
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            {{ formulario|crispy }}
            <button class="btn btn-primary">INICIAR SESION</button>
        </form>
    </div>

    <form action="{% url 'crear_persona' %}" method="get">
        <button type="submit">REGISTRARSE</button>

    </form>
    
</body>
</html>